*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container {
    width: 80vw;
    margin: 0 auto;
    height: 70vh;
    max-width: 1280px;
    position: relative;
    margin-top: 5%;
    border-radius: 8px;
    overflow: hidden;
    border: 5px solid #49a6e9;
    
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    color: white;
    transition: all 0.25s ease-in-out;
}

.photo {
    height: 250px;
    object-fit: cover;
}